body{background-color: rgba(0, 195, 255, 0.486);}

img{
    width: 70%; 
}

.titulo_principal{
       text-align: center;
       background-color: white ;
}

p{
    text-align: center;
    background-color: azure;
}




