body{background-color: rgba(0, 195, 255, 0.486);}
img{
    width: 70%; 
}

p{
    text-align: center;
}
 h1{ 
   text-align: center;
 }

 h1{background-color: burlywood;}

 p{background-color: azure;}

 .imagen{
    text-align: center;
 }